<template id="template">
    <style>
    :host {
        border: 1px solid #ccc;
        padding: 1em;
        text-align: center;
        position: relative;
    }

    .currency-pair {
        margin: 0;
        color: #888;
        font-size: 1em;
    }

    .rate {
        font-family: serif;
        font-size: 2em;
    }

    .rate--positive {
        text-decoration: underline;
        text-decoration-color: #0c0;
    }

    .rate--negative {
        text-decoration: underline;
        text-decoration-color: #c00;
    }

    .button-delete {
        border: 0;
        padding: 0;
        display: block;
        background: none;

        position: absolute;
        right: .5em;
        top: .5em;
    }
    </style>

    <li>
        <h2 class="currency-pair">
            <span class="currency js-currency-base">-</span> /
            <span class="currency js-currency-transaction">-</span>
        </h2>
        <div class="rate js-rate">-</div>
        <button class="button-delete js-button-close" aria-label="Remove rate panel">✖</button>
    </li>
</template>

<script>
const component = document.currentScript.ownerDocument;
const template = component.getElementById('template');

class RatePanel extends HTMLElement {
    constructor() {
        super();

        const content = document.importNode(template.content, true);

        this.createShadowRoot();
        this.shadowRoot.appendChild(content);

        this.previousRate = 1;

        this.rateContainer = this.shadowRoot.querySelector('.js-rate');
        this.currencyBaseContainer = this.shadowRoot.querySelector('.js-currency-base');
        this.currencyTransactionContainer = this.shadowRoot.querySelector('.js-currency-transaction');
        this.buttonClose = this.shadowRoot.querySelector('.js-button-close');
    }

    connectedCallback() {
        this.interval = setInterval(() => this.update(), 500);

        this.currencyBaseContainer.textContent = this.getAttribute('currencyBase');
        this.currencyTransactionContainer.textContent = this.getAttribute('currencyTransaction');

        this.buttonClose.addEventListener('click', () => this.close());
    }

    close() {
        clearInterval(this.interval);
        this.interval = null;

        this.remove();
    }

    /*
     * Disclaimer: I probably should have used WebSockets instead of fetch.
     */
    async update() {
        const response = await fetch(this.getAttribute('dataUrl'));
        const data = await response.json();

        this.rateContainer.classList.toggle('rate--positive', data.rate > this.previousRate);
        this.rateContainer.classList.toggle('rate--negative', data.rate < this.previousRate);
        this.rateContainer.textContent = data.rate.toFixed(data.precision);

        this.previousRate = data.rate;
    }
}

customElements.define('x-rate-panel', RatePanel);
</script>