<template id="template">
    <style>
    :host .rate-panel {
        text-align: center;
    }

    :host .rate-panel__currency-pair {
        font-size: 1em;
        margin: 0;
    }

    :host .rate-panel__rate {
        font-family: serif;
        font-size: 2em;
    }
    </style>

    <div class="rate-panel">
        <h2 class="rate-panel__currency-pair">
            <span class="js-currency-base">EUR</span>/
            <span class="js-currency-transaction">USD</span>
        </h2>
        <div class="rate-panel__rate js-rate">1.337</div>
    </div>
</template>

<script>
const component = document.currentScript.ownerDocument;
const template = component.getElementById('template');

class RatePanel extends HTMLElement {
    constructor() {
        super();

        const content = document.importNode(template.content, true);

        this.createShadowRoot();
        this.shadowRoot.appendChild(content);
        this.rateContainer = this.shadowRoot.querySelector('.js-rate');
    }

    static get observedAttributes() {
        return ['data-rate'];
    }

    connectedCallback() {
        this.shadowRoot.querySelector('.js-currency-base').textContent = this.dataset.currencyBase;
        this.shadowRoot.querySelector('.js-currency-transaction').textContent = this.dataset.currencyTransaction;

        this.rateContainer.textContent = this.dataset.rate;
    }

    attributeChangedCallback(attribute, oldValue, newValue) {
        if (attribute !== 'data-rate') {
            return;
        }

        this.rateContainer.textContent = Number.parseFloat(newValue).toFixed(Number.parseInt(this.dataset.precision));
    }
}

customElements.define('x-rate-panel', RatePanel);
</script>